<%- include('partials/head'); %>

<body id="history">

    <%- include('partials/header'); %>

    <section>
        <h2>History</h2>
    </section>

    <section>
        <%- include('partials/historyList'); %>
    </section>

    <section>
        <button>Delete history</button>
    </section>



    <script src="../../static/script/script.js"></script>

</body>

</html>
