<%- include('partials/head'); %>

    <body id="history">

        <%- include('partials/header'); %>

            <section>
                <h2>History</h2>
            </section>

            <section>
                <%- include('partials/historyList'); %>
            </section>

            <section>
                <form action="/history" method="POST">
                    <button>Delete history</button>
                </form>
            </section>



            <script src="../../static/script/script.js"></script>

    </body>

    </html>