<%- include('partials/head'); %>

<body id="index">
  
    <%- include('partials/header'); %>

    <section>
        <h2>Filter</h2>
        <%- include('partials/form'); %>
    </section>

    <section>
        <h3>suggestions</h3>
        <%- include('partials/suggestions.ejs'); %>
    </section>

    <script src="../../static/script/script.js"></script>

</body>


