<ul>
    <li>
        <a href="">
            <img src="<%= image %>" alt="">
            <p> <%= name %></p>
        </a>
    </li>
    <li>  
        <a href="">       
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
    <li>
        <a href=""> 
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
    <li>
        <a href=""> 
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
    <li>
        <a href=""> 
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
    <li>
        <a href=""> 
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
    <li>
        <a href=""> 
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
    <li>    
        <a href="">         
            <img src="../../static/images/profilePicture.png" alt="">
            <p>Naam</p>
        </a>
    </li>
</ul>