<header>
    <h1>Titel</h1>

    <button type="button"></button>

		<nav>
			<ul>
				<!-- Instant camera's begin -->
				<li>
					<button type="button">
						<img src="/static/images/close.svg" alt="">				
					</button>
				</li>
				<li>
					<a href="" title="">Menu ding</a>
						<svg xmlns="http://www.w3.org/2000/svg" width="1375" height="1375" viewBox="0 0 1375 1375">
							<defs>
							  <style>
							  </style>
							</defs>
							<path  data-name="Rechthoek 1"  d="M15.782,288.367l19.7-19.692c32.049-32.045,102.252-13.807,156.8,40.735L716.66,833.721c54.549,54.543,72.789,124.735,40.74,156.78l-19.695,19.689c-32.049,32.05-102.252,13.81-156.8-40.731L56.523,445.147C1.973,390.605-16.267,320.412,15.782,288.367Z"/>
							<path  data-name="Rechthoek 1"  d="M1339.52,268.774l19.69,19.684c32.03,32.033,13.8,102.2-40.72,156.718l-524.153,524.1c-54.525,54.522-124.7,72.752-156.731,40.722L617.92,990.312c-32.035-32.033-13.8-102.2,40.722-156.718l524.148-524.1C1237.32,254.972,1307.49,236.742,1339.52,268.774Z"/>
						</svg>

                        <ul>
                            <li>
                                <h3>nog meer keus</h3>
                            </li>
                        </ul>
                </li>
            </ul>
        </nav>

        <figure id="overlayDing"></figure>

</header>