<section>
    <ul>
        <li>
            <a href="">
                <img src="../../static/images/music.jpg" alt="">
                <p>Music</p>
            </a>
        </li>
        <li>  
            <a href="">       
                <img src="../../static/images/food.jpg" alt="">
                <p>Food</p>
            </a>
        </li>
        <li>
            <a href=""> 
                <img src="../../static/images/fashion.jpg" alt="">
                <p>Fashion</p>
            </a>
        </li>
        <li>
            <a href=""> 
                <img src="../../static/images/gaming.jpg" alt="">
                <p>Gaming</p>
            </a>
        </li>
        <li>
            <a href=""> 
                <img src="../../static/images/movies.jpg" alt="">
                <p>Movies</p>
            </a>
        </li>
        <li>
            <a href=""> 
                <img src="../../static/images/hiking.jpg" alt="">
                <p>Hiking</p>
            </a>
        </li>
        <li>
            <a href=""> 
                <img src="../../static/images/travel.jpg" alt="">
                <p>Travel</p>
            </a>
        </li>
        <li>    
            <a href="">         
                <img src="../../static/images/animals.jpg" alt="">
                <p>Animals</p>
            </a>
        </li>
    </ul>
</section>