    <ul>
        <li>
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="music" name="subject">
                <img src="../../static/images/music.jpg" alt="">
                <p>Music</p>
                <button></button>
            </form>
        </li>
        <li>  
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="food" name="subject">
                <img src="../../static/images/food.jpg" alt="">
                <p>food</p>
                <button></button>
            </form>
        </li>
        <li>
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="fashion" name="subject">
                <img src="../../static/images/fashion.jpg" alt="">
                <p>Fashion</p>
                <button></button>
            </form>
        </li>
        <li>
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="gaming" name="subject">
                <img src="../../static/images/gaming.jpg" alt="">
                <p>Gaming</p>
                <button></button>
            </form>
        </li>
        <li>
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="movies" name="subject">
                <img src="../../static/images/movies.jpg" alt="">
                <p>Movies</p>
                <button></button>
            </form>
        </li>
        <li>
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="hiking" name="subject">
                <img src="../../static/images/hiking.jpg" alt="">
                <p>Hiking</p>
                <button></button>
            </form>
        </li>
        <li>
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="travel" name="subject">
                <img src="../../static/images/travel.jpg" alt="">
                <p>Travel</p>
                <button></button>
            </form>
        </li>
        <li>    
            <form action="/results" method="POST">
                <label for="subject"></label>
                <input type="" value="animals" name="subject">
                <img src="../../static/images/animals.jpg" alt="">
                <p>Animals</p>
                <button></button>
            </form>
        </li>
    </ul>
