<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>

    <h2>Find someone with the same interests.</h2>

    <form action="/results" method="POST">
        <label for="subject">Subject you want to talk about?</label>
        <input type="text" name="subject">
        <button>search</button>
    </form>

</body>


</html>
