<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>

    <h2>Filter</h2>
    <%- include('partials/form'); %>

    <h3>suggestions</h3>
    <%- include('partials/suggestions.ejs'); %>

<script src="../../static/script/script.js"></script>

</body>


