<%- include('partials/head'); %>

<body id="results">
    <%- include('partials/header'); %>

    <section>
        <h2>Results</h2>
        <%- include('partials/smallForm'); %>
    </section>

    <section>
        <h3>Other people who like: <%= data.searchSubject %> </h3>

    </section>

    <script src="../../static/script/script.js"></script>


</body>


</html>